<div class="section">
<div class="container">
<div class="row">
<div class="col s12">
  <ul class="collection">
     <li class="collection-item avatar">
      <i class="large material-icons circle">person</i>
      <span class="title">Account</span><br>
      <a href="/artists/edit" class="black-text">Edit</a>

    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle teal">folder</i>
      <span class="title">Projects</span><br>
      <a href="/projects/new" class="black-text">Create</a><br>
      <a href="/<%= current_artist.friendly_id %>/projects/" class"black-text">View</a>
      </p>
    
    </li>

    <li class="collection-item avatar">
      <i class="large material-icons circle black">album</i>
      <span class="title">Albums</span>
      <p>Create<br>
        View All
      </p>
    </li>
    
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Tracks</span>
      <p>Create <br>
         View All
      </p>

    </li>
  </ul>
           

</div>
</div>
</div>
</div>