<div class="section">
<div class="container">
<div class="row">
<div class="col s12">
  <ul class="collection">
     <li class="collection-item avatar">
      <i class="large material-icons circle">person</i>
      <span class="title">Account</span><br>
      <a href="/artists/edit" class="black-text">Edit</a>

    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle teal">folder</i>
      <span class="title">Projects</span><br>
      <a href="<%= new_project_path %>" class="black-text">Manage</a><br>
 
   
    
    </li>
<!-- 
    <li class="collection-item avatar">
      <i class="large material-icons circle black">album</i>
      <span class="title">Albums</span><br>
       <a href="<%= new_project_path %>" class="black-text">Create</a>
    
    </li>
     -->
<!--     <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Tracks</span>
       <a href="/projects/new" class="black-text">Create</a><br>
         View All
     

    </li> -->
  </ul>
           

</div>
</div>
</div>
</div>