<div class="content">
<div class="mast-text-wrap">

<h1 class="brand-logo white-text">Owlphabet</h1>
  <h1 class="mast-heading white-text" style="font-weight: 100;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 0;">anti-label</h1>

</div>

</div><!-- /content -->
<div class="black">
<video id="mast-video" class="video" muted loop>
  <source src="/video/ancient-mast.mp4" type="video/mp4">

</video><!-- /video -->
</div>
<script>
(function() {
  /**
   * Video element
   * @type {HTMLElement}
   */
  var video = document.getElementById("mast-video");
  /**
   * Check if video can play, and play it
   */
  video.addEventListener( "canplay", function() {
    video.play();
  });
})();
</script>