 <div class="parallax-container">
 <div class="center">
<h1 class="brand-logo">Owlphabet</h1>
 <h2 style="font-family: Roboto Slab, serif; font-weight: 300; line-height: 0.5;">music collective</h2>
 </div>
      <div class="parallax"><img src="/images/paper.png"></div>
    </div>
         <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Request Invite</h4>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>