 <%= form_for @project do |f| %>
<section class="section white">
<div class="container">
<h2>New Project</h2>
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">

             <div class="row">
               <div class="file-field input-field">
                 <div class="btn red accent-2">
                 <span>Cover Photo</span>
                <%= f.file_field :cover_photo %>
                 </div>
               </div>
             </div>

           <div class="row">
             <div class="input-field col s12">
            <%= f.text_field :title, :class => "validate", :type => "text" %>
             <label for="title" class="black-text">Title</label>
            </div>
            </div>
        
          </div>
            <div class="card-action">
              <%= f.submit 'Submit', :class => "btn btn-waves red accent-2" %>
            </div>
          </div>
      
        </div>
      </div>
      <% end %>
</div>
</section>


