<div class="container">
<div class="section">
<div class="row">
<div class="col s12">
<h1 class="center black-text" style="font-weight: 100;">Select an Account Type</h1>
</div>
</div>
</div>
<div class="section">
    <div class="row">
        <div class="col s12 m6">
    <div class="card white">
  <div class="card-content black-text">

  <div class="row">
  <div class="circle grey lighten-3" style="height: 164px; width: 164px; float: left; position: relative; left: calc(50% - 6.5rem);">
    <i class="material-icons large valign grey-text" style="float: left;
    position: relative;
    top: calc(50% - 47px);
    left: calc(50% - 47px);">music_note</i>
  </div>
    </div>
  </div>

      <div class="card-action">
      <a href="/invite/artist" class="black-text">Select Artist</a>
      </div>
</div>
</div>
 
<div class="col s12 m6">
 <div class="card white">
  <div class="card-content black-text">

 <div class="row">
  <div class="circle grey lighten-3" style="height: 164px; width: 164px; float: left; position: relative; left: calc(50% - 6.5rem);">
    <i class="material-icons large valign grey-text" style="float: left;
    position: relative;
    top: calc(50% - 50px);
    left: calc(50% - 45px);">headset</i>
    </div> 
    </div> 
    </div>
    <div class="card-action">
    <a href="/invite/listener" class="black-text darken-4">Select Listener</a>
    </div>
      </div>
    </div>
</div>
</div>
</div>
