<% yield @q %>
<div class="section albums">
<div class="container" style="margin-bottom: 7rem;">
<div class="row">
<div class="right">
<%= sort_link(@q, :title, [:title, 'title asc'], '<i class="material-icons medium black-text sort">sort_by_alpha</i>'.html_safe) %>
</div>
</div>
<div id="projects">
    <%= render 'projects_index' %>
</div>
  
       <%= will_paginate @projects, :style => "display: none;" %>
   

   </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
  if ($('.pagination').length) {
    $(window).scroll(function() {
      var url = $('.pagination .next_page').attr('href');
      if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
        $('.pagination').text("Please Wait...");
        return $.getScript(url);
      }
    });
    return $(window).scroll();
  }
});     

</script>
 


      