<% yield @q %>
<div class="section albums">
<div class="container" style="margin-bottom: 7rem;">
<div class="row">
<div class="right">
<%= sort_link(@q, :title, [:title, 'title asc'], '<i class="material-icons black-text">sort_by_alpha</i>'.html_safe) %>
</div>
</div>
<div id="projects">
    <%= render 'projects_index' %>
</div>
  
       <%= will_paginate @projects, :style => "display: none;" %>
   

   </div>
</div>

 


      