nav ul li.invite:hover, nav ul li.invite.active {
     background-color: rgba(0, 0, 0, 0.1); 
}

.brand-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

nav ul li.invite:hover, nav ul li.invite.active {
    background-color: transparent;
}

a#brand {
    opacity: 0;
}

a#brandMobile {
    opacity: 0;
}

h2.groupings-list {
    font-size: 2rem;
}

a.card-date {
	color: #616161;
}

.container.albums {
    position: relative;
    top: -7rem;
}


h1.album-title {
    font-size: 3.2rem;
}