html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
   flex: 1 0 auto;   
  }

nav ul li.invite:hover, nav ul li.invite.active {
     background-color: rgba(0, 0, 0, 0.1); 
}

.brand-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

nav ul li.invite:hover, nav ul li.invite.active {
    background-color: transparent;
}

a#brand {
    opacity: 0;
}

a#brandMobile {
    opacity: 0;
}

h2.groupings-list {
    font-size: 2rem;
} 

a.card-date {
	color: #616161;
}

.container.albums {
    position: relative;
    top: -7rem;
}


h1.album-title {
    font-size: 3.2rem;
}

h1.general-header {
    font-size: 3.2rem;
}

a.sort_link {
    color: #b71c1c !important;
}

.sm2-bar-ui {
 font-size: 16px !important;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #b71c1c !important;
 height: 64px;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent !important;
}

a.btn-floating.btn-large.waves-effect.waves-light.red.right.show-play-album {
    margin-right: 1rem;
}

h1.album-title {
    margin-bottom: 1rem;
}

.sm2-bar-ui.fixed .bd.sm2-playlist-drawer, .sm2-bar-ui.bottom .bd.sm2-playlist-drawer {
    bottom: 4rem !important;
}


.fixed-action-btn.horizontal.click-to-toggle {
    position: relative;
}


.social-share-button-facebook {
    display: inline-block;
    width: 35px !important;
    height: 35px !important;
    background: url("/social/fb.png") no-repeat !important;
}

.social-share-button-google_plus {
    display: inline-block;
    width: 35px !important;
    height: 35px !important;
    background: url("/social/gp.png") no-repeat !important;
}

.social-share-button-twitter {
    display: inline-block;
    width: 35px !important;
    height: 35px !important;
    background: url("/social/tw.png") no-repeat !important;
}

h1.project-show-title {
    margin-top: -32px;
}